.classpath
.project
.settings
target
config.json
data
*.jar
foodfight-engine/players
foodfight-server/test-data
foodfight-server/test-repos
foodfight-server/config.json
foodfight-server/testing
foodfight-api/doc
foodfight-server/server.log
